
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div>

      <p>Hi <%= @name %>,</p>

      <p>Here's a link to my new business card:<p>

      <p> <%= @url %></p>

      <p>Let me know what you think! <p>

    </div>

  </body>
</html>
