
<h1>Here's Your Business Card</h1>

<% info = @person_info.to_hash %>

<div class="card_layout">
  <table>
    <tr>
      <td>
        <%= info["first_name"] + " " + info["last_name"] %>
      </td>
      <td>
        <% picture = info["picture_url"] %>
        <img src= "#{picture}" width="20" height="20" alt="Profile Picture">
      </td>
    </tr>
    <tr>
      <td>
        <%= info["headline"] %>
      </td>
    </tr>
    <tr>
      <td>
        <%= info["location"]["name"] + ", " + obj["location"]["country"]["code"].upcase %>
      </td>
    </tr>
    <tr>
      <td>
        <%= obj["public_profile_url"] %>
      </td>
    </tr>
  </table>
</div>
