
<% if session[:loggedin] == 'yes' %>

  <div id="showcard">

    <div class="top-text" id="showcard-title"></div>

    <div id="showcard-table"></div>

    <div class="links">
      <h2><%= link_to "Edit", edit_card_spec_path(@person_user) %></h2>
      <h2><%= link_to "Email Card", card_mailer_path, method: 'create' %></h2>
      <h2><%= link_to "Sign Out", card_spec_path(@person_user), method: 'delete' %></h2>
    </div>

  </div>

<% end %>


<% if session[:loggedin] == nil %>

  <div id="showcard">

    <div id="showcard-table"></div>

  </div>

<% end %>
