
<div id="showcard"> </div>

<% if session[:loggedin] == 'yes' %>
 <div>
   <h2><%= link_to "Email Card", card_mailer_path, method: 'create' %></h2>
   <h2><%= link_to "Sign Out", card_spec_path(@person_user), method: 'delete' %></h2>
 </div>
<% end %>
