

<h1>Welcome to Virtual Card!</h1>

<h3>This web application produces a virtual business card that you can share
with colleages.</h3>

<h3> You must have a LinkedIn account for it to work.</h3>

<h3>If you do, then <%= link_to "Sign In to LinkedIn", @url %> and Go Make Contacts!</h3>
