

<div class="top-text">
  <h1>Welcome to Virtual Card!</h1>
</div>

<div>

  <h2>This web application produces a virtual business card that you can share
  with colleagues.</h2>

  <h2> You must have a LinkedIn account for it to work.</h2>

  <h2>If you do, then <%= link_to "Sign In to LinkedIn", @url %> and Go Make Contacts!</h2>

</div>
