

<div class="top-text">
  <h1>Virtual Card</h1>
</div>

<div>

  <h2>Welcome!</h2>

  <h2>Here, you can create a virtual business card to share
  with colleagues and clients.</h2>

  <h2>You must have a LinkedIn account to get started.</h2>

  <h2 class="links"> <%= link_to "Sign In Here", @url %> </h2>

</div>
