

<div class="top-text">
  <h1>Virtual Card</h1>
</div>

<div>

  <h2>Welcome. This web application produces a virtual business card that you can share
  with colleagues.</h2>

  <h2> You must have a LinkedIn account for it to work.</h2>

  <h2>If you do, then </h2>

  <h2> <%= link_to "Sign In", @url %> </h2>

  <h2> and Go Make Contacts!</h2>

</div>
